/* FOOTER
-------------------------------------*/
.barra-cima2 {
    height: 70px;
    background-color: rgb(97,242,119);
    background-size: 100%;
}
.barra-baixo2{
    height: 30px;
    background-color: rgb(97,242,119);
    background-size: 100%;
}
.duvidas  {
    padding: 80px;
}
.duvidas h1 {
    font-size: 39px;
    margin-bottom: 20px;
}
.duvidas p {
    font-size: 18px;
    line-height: 1.6em;
}
.duvidas img {
    width: 328px;
    height: 327px;
}

@media (min-width: 320px) and (max-width:767px) {
    .duvidas {
        padding: 35px;
    }
    .duvidas img {
        width: 100%;
        height: 100%;
    }
}